.root {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.navbar {
  min-height: 15vh;
}

.containerImages {
  min-height: calc(100vh - 15vh - 10vh);
}

.header {
  font-size: 4vw;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-bottom: 3vh;
  color: blue;
}

.names {
  font-size: 3vw;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
  margin-top: 2vh;
  color: blue;
}

.footer {
  min-height: 10vh;
}
