.button-login {
	border-radius: 30px;
	border: 1px solid var(--color-black-);
	display: flex;
	padding: 0.5rem;
	justify-content: center;
	align-items: center;
	margin: 1.5rem 0 0;
	text-decoration: none;
	color: var(--color-black-);
}

.button-login__icon {
	font-size: 1.5rem;
}

.button-login__text {
	font-weight: bold;
	margin-left: 0.5rem;
}

@media (min-width: 450px) {
	.button-login {
		width: 400px;
		margin: 1.5rem auto 0;
	}
	.button-login__icon {
		font-size: 1.75rem;
	}
	.button-login__text {
		font-size: 1.05rem;
		margin-left: 1rem;
	}
}

@media (min-width: 670px) {
	.button-login {
		width: 600px;
		margin: 1.5rem auto 0;
	}
	.button-login__icon {
		font-size: 2rem;
	}
	.button-login__text {
		font-size: 1.15rem;
		margin-left: 1.5rem;
	}
}

@media (min-width: 998px) {
	.button-login {
		border-radius: 60px;
		width: 800px;
	}

	.button-login__icon {
		font-size: 3rem;
	}
	.button-login__text {
		font-size: 1.5rem;
		margin-left: 1.5rem;
	}
}
