.root {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.tagCategory {
  background-color: gray;
  border: 0.5px solid black;
  width: 10px;
  font-size: 10px;
  text-align: center;
}

.root {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.containerQuestion {
  min-height: calc(100vh - 15vh - 10vh);
}

/* .container-users {
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid: 10px;
} */
