.root {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.footer {
  background-color: gray;
}

.logoFooter {
  width: 5vh;
}

.footerCenter {
  font-size: 1vmax;
  font-weight: bold;
  text-align: center;
}
