.root {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.text {
  text-decoration: none;
}

.topic {
  list-style: none;
}

.topic:hover {
  border: 0.5px inset white;
  padding: 10px;
}

.tagCategories {
  background-color: gray;
  border: 0.5px solid black;
  width: 10px;
  font-size: 10px;
  text-align: center;
}
