.viewUser {
  min-height: 85vh;
}

.viewUser__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.viewUser__menu {
  width: 20px;
  font-size: 35px;
}

.viewUser__title {
  font-size: 20px;
  flex-grow: 1;
}

.viewUser__container-description {
  font-size: 12px;
  width: 80%;
  padding: 10px;
}

.viewUser__form {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.viewUser__search {
  border-radius: 15px;
  border: 1px solid black;
  padding: 5px 7.5px;
  margin: 10px 0;
  font-size: 10px;
}

.viewUser__submit {
  background: orangered;
  border-radius: 15px;
  padding: 5px 7.5px;
  border: none;
  color: white;
}

.viewUser__main {
  padding: 10px;
}

.container-users {
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

@media (min-width: 440px) {
  .viewUser__menu {
    width: 30px;
  }

  .viewUser__title {
    font-size: 28px;
  }

  .viewUser__container-description {
    font-size: 16px;
    padding: 15px 0;
    width: 80%;
    padding: 10px;
  }

  .viewUser__search {
    border-radius: 30px;
    border: 1px solid black;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 14px;
  }

  .viewUser__submit {
    background: orangered;
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    color: white;
  }

  .viewUser__main-title {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .viewUser__menu {
    width: 40px;
  }

  .viewUser__title {
    font-size: 32px;
  }

  .viewUser__container-description {
    font-size: 19px;
    padding: 15px 0;
    width: 70%;
    padding: 10px;
  }

  .viewUser__search {
    border-radius: 30px;
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 14px;
    width: 50%;
    margin: 10px auto;
  }

  .viewUser__submit {
    background: orangered;
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 14px;
    width: 50%;
    border: none;
    color: white;
    margin: 10px auto;
  }
}
